#h2 {
  color: black;
  font-size: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

#h5 {
    color:black;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

#h3 {
color: black;
font-size: 8px;
font-family: Georgia, 'TImes New Roman', Times, serif;
font-weight: bold;
}

#boxwhite {
    display: inline-block;
    margin-top:5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px;
    background: gray;
    border:10px;
    width:200px;
    cursor: pointer;
}

#p {
    font-weight:bold;
}

#h4 {
    color: black;
    font-size: 4px;
    font-family: Georgia, 'TImes New Roman', Times, serif;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}