<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Attacks!</title>
  <link rel="stylesheet" href = "styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Planning a Trip to Mars?</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Know Before you Go!</a></p>
    </div>

    {% for marsdict in mars%}
  <div class = "container-fluid">
    <div class = "row">
      <div class="col-md-12">
          <h2 id="h2">Latest Mars News</h2>
            <h3 id="h3">{{ marsdict.Headline }}</h3>
              <p>{{ marsdict.News }}</p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-6">
          <h2 id="h2">Featured Mars Image</h2>
            <img src = "{{ marsdict.Image }}" alt= "Daily Image" style="width:500px;height:470px;">
      </div>
      <div class = "col-md-6">
        <div id = "boxwhite" class = "row">
          <div class ="column">
            <h3 id="h3">Current Weather on Mars</h3>
              <p id="p">{{ marsdict.Weather }}</p>
          </div>
        </div>
        <div class = "row">
          <div class = "table table-striped">
            <h3 id="h3">Mars Facts</h3>
              <tbody>{{marsdict.Table|safe}}</tbody>
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-12">
        <h2 id="h5">Mars Hemisphere</h2>
      </div>
        <div class = "row">
          <div class = "col-md-6">
            <div class ="thumbnail">
            <h4 id="h4">{{ marsdict.hem1 }}</h4>
              <img src = "{{ marsdict.hem1img }}" alt = "Cerberus" stlye="width:25%">
            </div>
          </div>
          <div class = "col-md-6">
            <div class = "thumbnail">
            <h4 id="h4">{{ marsdict.hem2 }}</h4>
              <img src = "{{ marsdict.hem2img }}" alt = "Syrtis" stlye="width:25%"> 
            </div>   
          </div> 
        </div>
        <div class = "row">
          <div class = "col-md-6">
            <div class = "thumbnail">
            <h4 id="h4">{{ marsdict.hem3 }}</h4>
              <img src = "{{ marsdict.hem3img }}" alt = "Valles" stlye="width:25%">
            </div>
          </div>
          <div class = "col-md-6">
            <div class = "thumbnail">
            <h4 id="h4">{{ marsdict.hem4 }}</h4>
              <img src = "{{ marsdict.hem4img }}" alt = "Schiaparelli" stlye="width:25%">
            </div>
          </div> 
        </div>      
    </div>  
  </div>
      {% endfor %}

  </div>
</body>

</html>

