<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars B*&ch</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Planning a Trip to Mars?</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Know Before you Go!</a></p>
    </div>

    {% for marsdict in mars%}
    <div class="col-lg-3">
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Mars News</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ marsdict.Headline }} {{ marsdict.News }}</h6>
          </div>
        </div>
    </div>
    <div class = "col-lg-3">
      <div class="card" style="width: 20rem;">
        <div class = "card-body">
          <h4 class = "card-title">Mars Images</h4>
          <p>{{ marsdict.Image }}</p>
        </div>
      </div>
    </div>
    <div class = "col-lg-3">
      <div class="card" style="width: 20rem;">
        <div class = "card-body">
          <h4 class = "card-title">Mars Tweets</h4>
          <p>{{ marsdict.Weather }}</p>
        </div>
      </div>
    </div>
    <div class = "col-lg-3">
      <div class="card" style="width: 20rem;">
        <div class = "card-body">
          <h4 class = "card-title">Mars Hemisphere</h4>
          <p>{{ marsdict.Hemisphere }} - {{ marsdict.Hemitwo }}</p>
        </div>
      </div>
    </div>
    <div class = "col-lg-12">
      <div class="card" style="width: 20rem;">
        <div class = "card-body">
          <h4 class = "card-title">Mars Table</h4>
          <p>{{ marsdict.Table }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</body>

</html>

